.textarea {
  box-sizing: border-box;
  width: 200%;
  min-height: 100px;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: -100px;
  overflow: hidden;
  font-size: 2.4rem;
  line-height: 2.4rem;
  border: 2px solid #000;
  border-radius: 0;
  outline: none;
  transition: border-bottom 0.1s ease-in;
  transform: scale(0.5);
  transform-origin: top left;
  resize: vertical;
}

.gaming {
  font-size: 1.2rem;
  line-height: 1.2rem;
  white-space: pre-wrap;
  background: -webkit-linear-gradient(0deg, #40e0d0, #ff8c00, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
