.ja {
  font-family: "Saitamaar", "Courier New", courier, monospace, "Noto Sans JP", -apple-system,
    blinkmacsystemfont, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, roboto, yugothic, yu gothic,
    游ゴシック体, 游ゴシック, メイリオ, meiryo, ｍｓ ｐゴシック, ms pgothic, sans-serif;
}

.en {
  font-family: "Courier New", courier, monospace, "Saitamaar", "Noto Sans JP", -apple-system,
    blinkmacsystemfont, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, roboto, yugothic, yu gothic,
    游ゴシック体, 游ゴシック, メイリオ, meiryo, ｍｓ ｐゴシック, ms pgothic, sans-serif;
}

.title {
  text-shadow: 0 0 5px #40e0d0, 0 0 10px #e0d041;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  line-height: 1.1618em;
  resize: vertical;
  border-radius: 5px;
  outline: none;
}

.gaming {
  display: inline-block;
  padding: 0 1em;
  font-size: 1.2rem;
  line-height: 1.1618em;
  white-space: pre;
  background: -webkit-linear-gradient(
    0deg,
    var(--gradient-color, (#40e0d0, #41e081, #e0d041, #ff8c00, #ff0080, #d041e0))
  );
  background-clip: text;
  transform-origin: left center;
  animation: gradient 1s linear infinite;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
  from {
    filter: drop-shadow(0 0 3px #40e0d0) hue-rotate(0deg);
  }
  to {
    filter: drop-shadow(0 0 3px #d041e0) hue-rotate(360deg);
  }
}
