@font-face {
  font-family: "Saitamaar";
  src: url("/fonts/Saitamaar.woff2") format("woff2"), url("/fonts/Saitamaar.woff") format("woff"),
    url("/fonts/Saitamaar.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "aahub_light";
  src: url("/fonts/aahub_light.woff2") format("woff2"),
    url("/fonts/aahub_light.woff") format("woff"), url("/fonts/aahub_light.ttf") format("ttf");
  font-display: swap;
}

$ff: "Saitamaar", "Courier New", courier, monospace, "Noto Sans JP", -apple-system,
  blinkmacsystemfont, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, roboto, yugothic, yu gothic,
  游ゴシック体, 游ゴシック, メイリオ, meiryo, ｍｓ ｐゴシック, ms pgothic, sans-serif;
